version: 2.1

orbs:
  ruby: circleci/ruby@2.6

executors:
  ruby_mongo:
    working_directory: ~/project
    docker:
      - image: cimg/ruby:3.4.4
        environment:
          BUNDLE_JOBS: "4"
          BUNDLE_RETRY: "3"
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
      - image: cimg/mongodb:4.4

jobs:
  test:
    executor: ruby_mongo
    steps:
      - checkout
      - ruby/install-deps:
          bundler-cache: true
      - run:
          name: Wait for MongoDB
          command: "timeout 90s bash -c 'until nc -z localhost 27017; do sleep 1; done'"
      - ruby/rspec-test
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

workflows:
  version: 2
  build_and_test:
    jobs:
      - test